[Desktop Entry]
Version=1.0
Type=Application
Name=SamRewritten
GenericName=Steam Achievements Manager
Comment=Unlock, lock, and manage Steam achievements and stats
Exec=/usr/bin/samrewritten
Icon=samrewritten
Terminal=false
Categories=Game;Utility;
StartupWMClass=samrewritten
Keywords=steam;achievements;manager;game;stats;unlock;linux;windows;